**/log

*.jpg
*.txt

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
*.o
cvpods.egg-info/
build/
dist/
wheels/

tools/pods_test
tools/pods_train

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models
